# deltadask demo

In [1]:
import pathlib

import deltadask
import deltalake as dl
import pandas as pd
import pyarrow.dataset as ds

In [2]:
cwd = pathlib.Path().resolve()

## Create Delta table

In [3]:
df = pd.DataFrame({"id": [0, 1, 2]})

In [4]:
dl.writer.write_deltalake(f"{cwd}/tmp/delta-table", df)

## Append data to Delta table

In [5]:
df = pd.DataFrame({"id": [4, 5]})

In [6]:
dl.writer.write_deltalake(f"{cwd}/tmp/delta-table", df, mode="append")

## Overwrite Delta table

In [7]:
df = pd.DataFrame({"id": [7, 8, 9]})

In [8]:
dl.writer.write_deltalake(f"{cwd}/tmp/delta-table", df, mode="overwrite")

## Read differnt versions with Dask

In [10]:
deltadask.read_delta(f"{cwd}/tmp/delta-table").compute()

   id
0   7
1   8
2   9

In [14]:
print(deltadask.read_delta(f"{cwd}/tmp/delta-table", version=1).compute())

   id
0   0
1   1
2   2
0   4
1   5

## Read different versions with pandas

In [10]:
# read version 0
dl.DeltaTable("./tmp/delta-table", version=0).to_pandas()

   id
0   0
1   1
2   2

In [14]:
# read version 1
print(dl.DeltaTable("./tmp/delta-table", version=1).to_pandas())

   id
0   0
1   1
2   2
3   4
4   5

In [13]:
# read latest version
print(dl.DeltaTable("./tmp/delta-table").to_pandas())

   id
0   7
1   8
2   9